*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 20px 24px;
}

.container {
  max-width: 580px;
  margin: 0 auto;
  background-color: var(--indigo50);
  padding: var(--space-xxxlarge);
  border-radius: var(--border-radius-xlarge);
 
}

img {
  max-width: 100%;
}

.button {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow: auto; /* Rob added */
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.tabs {
  width: 100%;
}

.form-group {
  width: 100%;
}

.preview-container {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.sticker-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  row-gap: 24px;
  padding-top: 5px;
}

.draggable-item {
  margin: auto;
  width: 112px;
  height: 112px;
  max-width: 112px;
  max-height: 112px;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  cursor: grab;
}

/* ROb added */
.scroll {
  padding: 8px 2px 16px 2px;
  background-color: #ffffff; /* #95a4eb; */
  width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#sticker-pack-description {
  margin: 8px 0px 8px 0;
}

#sticker-pack-button {
  background: #000 /* var(--indigo50); */
}

.add-row-button {
  display: inline;
  background: none;
  border: 1px solid #4262ff;
  color: #4262ff;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
  padding: 2px 4px 2px 4px;
}