*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 20px 24px;
}

img {
  max-width: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* was 'hidden' */
  overflow: auto; /* was 'auto' */
}

.main {
  /* Option 2 START*/
  /*
  height:100%;
  overflow:hidden;
  */
  /* Option 2 END*/

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.sticker-images {
  /* Option 2 START*/
  /*
  height:100%;
  overflow:auto;
  */
  /* Option 2 END */

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  width: 100%;
  vertical-align: top;
  row-gap: 24px;
  padding-top: 5px;
  margin-top: 35px;
  border-radius: 4px; /* match the button radius */
  background-color: #ffffff; /* #e8ecff */
}

.draggable-item {
  margin: auto;
  width: 112px;
  height: 112px;
  max-width: 112px;
  max-height: 112px;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  cursor: grab;
}

/* Rob added */
.sticker-buttons {
  padding: 4px 2px 4px 2px;
  background-color: white;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* Opton 1 START - this seems to be the better option */
  position: fixed;
  top: 0;
  /* Opton 1 END */
}

.sticker-buttons::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sticker-buttons::-webkit-scrollbar:vertical {
  width: 7.5px;
}

.sticker-buttons::-webkit-scrollbar:horizontal {
  height: 7.5px;
}

.sticker-buttons::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: #cdccd7; /* rgba(0, 0, 0, .5);*/
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #cdccd7; 
}

.add-row-button {
  font-family: Formular, sans-serif;
  font-weight: 600;
  height: 40px;
  display: inline;
  background: none;
  color: #5f5c80;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 0px 10px;
  margin-right: 4px;
}

.add-row-button:hover {
  background: #e8ecff;
  color: #4262ff;  
}

.add-row-button-active {
  font-family: Formular, sans-serif;
  font-weight: 600;
  height: 40px;
  display: inline;
  background: #e8ecff;
  color: #4262ff; 
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 0px 10px;
  margin-right: 4px;
}
